@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-B.ttf)
}

@font-face {
    font-family: Exo2L;
    src: url(../fonts/Exo2.0-Light.otf)
}

@font-face {
    font-family: Exo2M;
    src: url(../fonts/Exo2.0-Medium.otf)
}

body {
    background: #f58b57;
    /* background-image: url(../images/test.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: top;*/
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
}

.time {
    align-self: center;
}

.time p {
    font-family: Ubuntu;
    color: white;
    font-size: 5em;
    margin: 0px;
}

.date {
    font-family: Exo2L;
    color: white;
    align-self: center;
}

.search {
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
}

.bookmarks {
    display: flex;
    color: white;
    margin: auto;
    font-size: 18px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.bookmarks-category {
    font-family: Ubuntu;
}

.bookmarks-child {
    font-family: Exo2L;
}

.bookmarks-button {
    background: transparent;
    border: 2px rgba(0, 0, 0, 0.4) dashed;
    width: 100px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 100;
    font-size: 1em;
    padding: 0;
}

input[type=text] {
    border: none;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: white;
    font-weight: 500;
    font-family: Exo2L;
}

input:focus {
    outline: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
}
