@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-B.ttf)
}

@font-face {
    font-family: Exo2L;
    src: url(../fonts/Exo2.0-Light.otf)
}

@font-face {
    font-family: Exo2M;
    src: url(../fonts/Exo2.0-Medium.otf)
}

html {
    height: 100%;
    background: url(../images/test.jpg) no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: brightness(50%) contrast(80%);
    z-index: -1; 
}

body {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.time {
    align-self: center;
}

.time p {
    font-family: Ubuntu;
    color: white;
    font-size: 5em;
    margin: 0px;
}

.date {
    font-family: Exo2L;
    color: white;
    align-self: center;
}

.search {
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
}

.bookmarks {
    display: flex;
    color: white;
    margin: auto;
    font-size: 18px;
    align-items: flex-start;
}

.bookmarks-category {
    display: flex;
    flex-direction: column;
    font-family: Ubuntu;
    padding: 0px 10px;
}

.bookmarks-child {
    font-family: Exo2L;
}

.bookmarks-child a,
.bookmarks-child a:visited {
    color: white;
}

.bookmarks-button {
    background: transparent;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 100;
    font-size: 1em;
    padding: 0;
    margin-top: 10px;
    align-self: center;
}

.bookmarks-button:hover {
    border: 1px rgba(255, 255, 255, 0.9) solid;
    color: rgba(255, 255, 255, 0.9);
    transition: 0.3s;
}

.pinned-bookmarks {
    display: flex;
    align-self: flex-start;
}

.pinned-bookmarks-child a {
    font-size: 18px;
    color: white;
    font-family: Exo2L;
    padding: 0px 10px;
}

.pinned-add-category:hover {
    text-decoration: underline;
}

.bookmarks-button:focus {
    outline: none;
}

input[type=text] {
    border: none;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: white;
    font-weight: 500;
    font-family: Exo2L;
}

input:focus {
    outline: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    height: 700px;
    max-height: 60%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal.closed {
    display: none;
}

.modal input {
    border: 2px solid white;
    background: transparent;
    width: 80%;
    align-self: center;
    color: white;
    padding: 5px 20px;
    font-family: Exo2L;
}

.button-add-category {
    margin-top: 10px;
    height: 30px;
    width: 40%;
    align-self: center;
    border: 2px solid white;
    border-radius: 20px;
    background: transparent;
}